<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/images/apple-startup-iPhone.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
        <link rel="apple-touch-icon" href="~/Content/images/icon.png"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        @RenderSection("head", false)
    </head>
    <body>
        <div data-role="page" data-theme="b" class="type-interior">
            <div data-role="header" data-id="top-menu" data-position="fixed">
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    <h1>@ViewBag.Title</h1>
                    //@Html.Partial("_LoginPartial")
                }
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
        </div>

        
        @RenderSection("scripts", required: false)

        <!-- Added by Johannes Dahlgren 16/11 -->
        <style type="text/css">body {min-height: 480px;}</style>
        @Scripts.Render("~/Scripts/HideAdressBar.js")
         @Scripts.Render("~/Scripts/Script.js")


    </body>
</html>
