@using Resources;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/bootstrap.min.css")
        @Styles.Render("~/Content/Site.css")
        
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @RenderSection("head", false)
        
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")
        @Scripts.Render("~/Scripts/Script.js")
        @Scripts.Render("~/Scripts/Script.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              @Html.ActionLink("Politic Impact", "Index", new { Controller = "Home" }, new { @class = "brand"  })
              <div class="nav-collapse collapse">
                <ul class="nav">
                    <!-- class="active"-->
                  <li>@Html.ActionLink(@Res.Case, "Index", new { Controller = "CaseItems"})</li>
                    <li>@Html.ActionLink(@Res.Search, "Search", new { Controller = "CaseItems" })</li>
                </ul>
                <div class="pull-left">
                          @{ var user = (String) HttpContext.Current.Session["uid"]; }
                @if ( user != null){
                    @Html.ActionLink("+ " +@Res.CreateCase , "Create", new { Controller = "CaseItems" }, new { @class = "btn btn-success" })
                }
                else{
                    <a href="#" class="btn btn-success" onclick="javascript:alert('Du måste logga in för att kunna skapa förslag');">@Res.CreateCase</a>
                }
                </div>
                
                <div id="loginBtnDiv" class="pull-right">
                    <fb:login-button autologoutlink="true" size="large">Logga in</fb:login-button>
                </div>
                  
                <div id="change_language" class="pull-right">
                    <form id="FormChangeLanguage" method="post">
                        <select name="lang" style="width: 100px; margin-bottom: 0px;"onchange="$('#FormChangeLanguage').submit();" >
                            <option value="en-GB" @(Culture == "en-GB" ? "selected=\"selected\"" : "")>@Res.English</option>
                            <option value="sv-SE" @(Culture == "sv-SE" ? "selected=\"selected\"" : "")>@Res.Swedish</option>
                            <option value="fr-FR" @(Culture == "fr-FR" ? "selected=\"selected\"" : "")>@Res.French</option>
                        </select>
                    </form>
                </div>
            </div>
          </div>
        </div>
            </div>
        <div class="container">
            <hr />
            <div class="container" id="main_content">
                @RenderBody()
            </div>

          <footer>
            <p>© PUM-GAIA 2012</p>
          </footer>
        </div>
        
                   <script src="@Url.Content("~/Scripts/Facebook.js")" type="text/javascript"></script>
                <script type="text/javascript">
                    $(function () {
                        InitialiseFacebook("432491363480247");
                    });
                </script>



    </body>
</html>

