@using Resources;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/bootstrap.min.css")
        @Styles.Render("~/Content/Site.css")
        @RenderSection("head", false)
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              @Html.ActionLink("Politic Impact", "Index", new { Controller = "Home" }, new { @class = "brand"  })
              <div class="nav-collapse collapse">
                <ul class="nav">
                    <!-- class="active"-->
                  <li>@Html.ActionLink("Start", "Index", new { Controller = "Home"})</li>
                  <li>@Html.ActionLink(@Res.Case, "Index", new { Controller = "CaseItems"})</li>
                    <li>@Html.ActionLink(@Res.Search, "Search", new { Controller = "CaseItems" })</li>
                    <!--<li>@Html.ActionLink(@Res.LogIn, "Sign in", new { Controller = "Home" })</li>-->
                </ul>
                  <form method="post">
                      @Res.SelectLanguage
                      <select name="lang">
                          <option></option>
                          <option value="en-GB" @(Culture == "en-GB" ? "selected=\"selected\"" : "")>@Res.English</option>
                          <option value="sv-SE" @(Culture == "sv-SE" ? "selected=\"selected\"" : "")>@Res.Swedish</option>
                          <option value="fr-FR" @(Culture == "fr-FR" ? "selected=\"selected\"" : "")>@Res.French</option>
                      </select>
                      <input type="submit" value="@Res.Submit" />
                  </form>
              </div>
                <!--/.nav-collapse -->
                @Html.ActionLink("+ " +@Res.CreateCase , "Create", new { Controller = "CaseItems" }, new { @class = "btn btn-success" })
            </div>
          </div>
        </div>
        <div class="container">
            <hr />
            <div class="container" id="main_content">
                @RenderBody()
            </div>

          <footer>
            <p>© PUM-GAIA 2012</p>
          </footer>
        </div>
        
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquery")
        @Scripts.Render("~/Scripts/Script.js")
        @Scripts.Render("~/Scripts/Script.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/bundles/modernizr")
        


    </body>
</html>
