@model IEnumerable<PoliticImpact.Models.GroupMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            userID
        </th>
        <th>
            role
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.groupMemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.groupMemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.groupMemberID })
        </td>
        <td>
			@item.userID
        </td>
        <td>
			@item.role
        </td>
    </tr>
}

</table>


