@model PoliticImpact.Models.CaseMode

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.caseModeName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.caseModeName)
    @Html.ValidationMessageFor(model => model.caseModeName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.caseModeInt)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.caseModeInt)
    @Html.ValidationMessageFor(model => model.caseModeInt)
</div>

