@model PoliticImpact.Models.CaseItem

@{

    ViewBag.Title = "Skapa Förslag";
   Layout = "~/Views/Shared/_Layout.Phone.cshtml";
}

@section Header{
    <div data-role="header">

        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Tillbaka</a>
        <h1>Skapa förslag</h1>
    </div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <!--<legend>CaseModel</legend>-->

        <!--
            <div class="editor-label">
                @Html.LabelFor(model => model.Owner)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>
            -->
        @{ var user = (String) HttpContext.Current.Session["uid"]; }
        <div class="editor-field" style="padding-bottom: 14px; padding-top: 14px">
            @Html.TextBoxFor(model => model.Title, new { placeholder = "Förslagets titel" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>


        <div class="editor-field" style="padding-bottom: 14px;">
            @Html.TextAreaFor(model => model.Text, new { placeholder = "Beskrivning" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>


        <div class="editor-field" style="padding-bottom: 14px;">
            @Html.TextBoxFor(model => model.Deadline, new { placeholder = "Deadline ÅÅ-MM-DD" })
            @Html.ValidationMessageFor(model => model.Deadline)
        </div>
        <div class="editor-field" style="padding-bottom: 14px;">
            @Html.TextBoxFor(model => model.RecieverName, new { placeholder = "Mottagarens namn" })
            @Html.ValidationMessageFor(model => model.RecieverName)
        </div>
        <div class="editor-field" style="padding-bottom: 14px;">
            @Html.TextBoxFor(model => model.RecieverEmail, new { placeholder = "Mottagarens mail" })
            @Html.ValidationMessageFor(model => model.RecieverEmail)
        </div>

        <div class="editor-label"> Välj vilket dokument som ska bifogas:</div> 
        <div class="editor-field">
            <input name="document" type="file" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.enableLikes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enableLikes)
            @Html.ValidationMessageFor(model => model.enableLikes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.enableComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enableComments)
            @Html.ValidationMessageFor(model => model.enableComments)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.enableSigns)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enableSigns)
            @Html.ValidationMessageFor(model => model.enableSigns)
        </div>

        <div class="editor-label">Ladda upp bild:</div>
        <div class="editor-field"><input name="image" type="file" /></div>
            

        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryID, ((IEnumerable<PoliticImpact.Models.CaseCategory>)ViewBag.PossibleCategories).Select(option => new SelectListItem
                   {
                       Text = (option == null ? "None" : option.Title),
                       Value = option.CategoryID.ToString(),
                       Selected = (Model != null) && (option.CategoryID == Model.CategoryID)
                   }), "Välj kategori...")

            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>
        
        <div data-role="fieldcontain">
            <label for="slider2">Omröstning:</label><br/>
            <select name="create_voting" id="create_voting" data-role="slider" data-mini="true" onchange="showAndHideVotingTitle();">
                <option value="no">Nej</option>
                <option value="yes">Ja</option>
            </select>
            <div data-role="fieldcontain" id="voting_input">
                <label for="name">Fråga (Ja/Nej):</label>
                <input type="text" name="voting_title" id="voting_title" value="" data-mini="true" />
            </div>

        </div>
               

        <div class="editor-label">
            @Html.LabelFor(model => model.Published)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
        </div>

            @if ( user != null){
            <p>
                <input type="submit" value="Save" />
            </p>
           }else{
               <p>
                Var god logga in för att spara.
               </p>
           }
        </fieldset>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
