@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Detaljer";
    Layout = "~/Views/Shared/_LayoutNoPageDiv.cshtml";
}

@section scripts{

    @*@Scripts.Render("~/Scripts/facebookPublish.js")
    @Scripts.Render("~/Scripts/facebookConnect.js")*@

    @Scripts.Render("~/Scripts/facebookPublish.js")
    @Scripts.Render("~/Scripts/facebookConnect.js")
    @Scripts.Render("~/Scripts/DetailsView.js")

}

<div data-role="page" data-theme="b" data-add-back-btn="true">
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Tillbaka</a>
        <h1>@ViewBag.Title</h1>
        @{ var user = (long)0;}
        @if (HttpContext.Current.Session["uid"] != null)
        {
            user = (long)Int64.Parse(HttpContext.Current.Session["uid"].ToString());
        }         
        @if (user == Int64.Parse(@Model.Owner.ToString()) && !@Model.Archived)
        {
            <a href="#" data-transition="slide" data-direction="reverse" data-icon="delete" onclick="deleteCaseItem(@Model.ID)">Ta bort</a>
        }
    </div>
    @if (!@Model.Archived || user == Int64.Parse(@Model.Owner.ToString()))
    {
    <div data-role="content">
        @if (@Model.Archived && user == Int64.Parse(@Model.Owner.ToString()))
        {
        <h2>Ärendet är arkiverat, endast du kan se det.</h2>
        }
        <h2>@Model.Title</h2>

        @*Get creator name from facebook*@
        <p id="divName@(Model.ID)"></p>
        <script type='text/javascript'>
            $(document).ready(function () {
                $.getJSON('https://graph.facebook.com/' + @Model.Owner + "", function (data) {
                $('<strong>' + data.name + '</strong>').appendTo('#divName@(Model.ID)');
                })
            })
        </script>
         @*Ritar ut en bild beroende på caseMode*@
        @if (Model.caseMode == 1)
        {
            <label>Ärendet har: Gått igenom</label>
              <img src="~/Content/images/Approved_icon.png" width="45" height="45" id="Approved" />
        }
        else if (Model.caseMode == 2)
        {
            <label>Ärendet är: Avslaget</label>
             <img src="~/Content/images/Dismissed_icon.png" width="45" height="45" id="Dismissed" />
        }

        <p>
            @Model.Text
        </p>
        

        <div class="display-label">Deadline</div>
        <div class="display-field">@String.Format("{0:g}", Model.Deadline)</div>

        <div class="display-label">Mottagare</div>
        <div class="display-field">@Model.RecieverName < @Model.RecieverEmail ></div>

            @{ 
                if(Model.ImageThumbnail != null)
                {
                    <div class="display-field">
                        <a href="#popupImage" data-rel="popup" data-position-to="window">
                            <img src="@Url.Content(Model.ImageThumbnail)" /></a>
                						
			            <div data-role="popup" id="popupImage" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
				            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Stäng</a>
                            <img src="@Url.Content(ViewBag.imageUrl)" />
			            </div>                    
                    </div>
                }
            }
         @*Visa alla dokument till ärendet*@
        @if (Model.documentUrl != null)
        {
           <h3>Det bifogade dokumentet:</h3>
           <a href="@Url.Content(Model.documentUrl)">@Model.documentName</a>
            <br />
        }
    
       @if (Model.enableLikes == true)
       {
           if (user != 0)
           {
               if (ViewBag.likeStatus == "signed")
               {
                   //Kanske skall vara en bild istället?
                <p>Du har gillat detta!</p>
           
               }
               else
               {
                   if (!@Model.Archived)
                   {
                        <a href="@Url.Action("LikeCase", "CaseItems", new { id = @Model.ID }, null)">
                            <img src="~/Content/images/LikeWin8.png" width="50" height="50" id="ShowCaseLike" />
                        </a>
                   }
               }
           }


       }
  

        @if (Model.enableSigns == true)
        {
            @*<a href="#popupShare" data-rel="popup">
                <img src="~/Content/images/Signing.png" width="60" height="60" id="ShowCaseSign" />
            </a>*@
            if (user != 0)
            {
                if (ViewBag.status == "signed")
                {
                    //Kanske skall vara en bild istället?
                <p>Du har skrivit på namninsamlingen</p>
                }
                else
                {
                    if (!@Model.Archived)
                    {
                       
                        <a href="#popupSignUp" data-rel="popup"> 
                            <img src="~/Content/images/SignWin8.png" width="50" height="50" id="ShowCaseSign"/>
                        </a>
                    }
                }
            }
        }
        
        @if (!@Model.Archived)
        {
            // <a href="#signupCase" role="button" class="btn" data-toggle="modal">@Res.Sign</a>

            <a href="#popupShare" data-rel="popup">
                <img src="~/Content/images/ShareWin8.png" width="50" height="50 id ="ShowShareCase" />    
            </a>
        }

        
           @if (Model.enableComments == true && !Model.Archived)
           {
               if (user != 0)
               {
                <a href ="#"  onclick="ShowCommentField()"> 
                    <img src="~/Content/images/CommentWin8.png" width="50" height="50" id="ShowCaseComment" />
                </a>
               }

           }
        
        <p>Antal som gillar: @Model.numberOfLikes</p>

        @* Visa respons från mottagare *@
        @{
        if (ViewBag.responded)
        {
                <form>
                    <fieldset>
                        <legend>Svar från mottagaren</legend>
                        <p>@ViewBag.response</p>
                    </fieldset>
               </form>
        }  
        }
        @* slut på visa respons *@
   
        @*start: Frida Mattisson 2012-11-16*@
   

        @if (ViewBag.voting != null && !@Model.Archived)
        {
            <h3>@ViewBag.voting.Title</h3>
            if (!ViewBag.userhasvoted)
            {
                <div id="voting_container">
                    <fieldset data-role="controlgroup">
                        <div id="voting-alternatives">
                            <input type="radio" name="voting-choice" id="voting-choice-1" value="yes" checked="checked" />
                            <label for="voting-choice-1">Ja</label>
                            <input type="radio" name="voting-choice" id="voting-choice-2" value="no"  />
                            <label for="voting-choice-2">Nej</label>
                        </div>
                        </fieldset>
                    <button onclick="SendVote(@ViewBag.voting.VotingID);" id="btnVote">Rösta</button>
                </div>
            }
            else
            {
                <p>Du har redan röstat</p>
            }
        }

        @if (!Model.Published && Model.Owner == user)
        {
            <a href="~/CaseItems/Edit/@Model.ID" data-role="button">Redigera</a>
        }

        @*Print all comments for the case där id är samma*@
<div id="allComments">
    <h3>Kommentarer</h3>
    <div id="newComment">
        <input type="text" id="newCommentStr" />
        <button class="btn" onclick="PostComment(@Model.ID);">Spara</button>
    </div>
    <br />
    @if (ViewBag.casecomments == null)
    {
            <p id="nocomments">Det finns inga kommentarer</p>
    }
    else
    {
        foreach (var comment in ViewBag.casecomments)
        {
            <p class="comment_author author_@(comment.userID)"></p>
            <p>@comment.commentStr</p>
        }
    }
</div>
    </div>
@*</div>*@
        

<style>
    #share_by_email
    {
        display: none;
    }
</style>
<div data-role ="popup" id ="popupShare" data-overlay-theme="a" data-theme="a" class="ui-corner-all" data-position-to="window">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Stäng</a>
	<form>

        <div data-role="content" data-theme="c">
 
    <h3>Dela @Model.Title</h3>
          
            <a onclick="publishStory('@Model.Title', '@Model.Text', '@Request.Url.AbsoluteUri');" data-theme="" id="ventaOption"> <img src="/Content/images/share-facebook.png" width="64" height="64"></a>
            <a id="emailShare" onclick="jQuery('#share_by_email').slideDown();"> <img src="/Content/images/share-email.png" width="64" height="64"></a>
		
        <div id="share_by_email">
            <input type="email" name="email" id="friend_email" value=" " placeholder="Mottagare mail"/>
            <a onclick="ShareCaseByEmail(@Model.ID);" data-role="button">Skicka länk</a>
        </div>
              </div>
           
	</form>
</div>

<div data-role ="popup" id ="popupSignUp" data-overlay-theme="a" data-theme="a" class="ui-corner-all" data-position-to="window">
      @*<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>*@
    		<div data-role="header" data-theme="d" data-position="inline">
    <h3>Skriv på</h3></div>
    <div data-role="content" data-theme="c">
        <p>Vill du skriva på namninsamlingen för @Model.Title ? </p>
        <a href ="@Url.Action("SignUp", "CaseItems", new { caseitem = @Model.ID }, null) " data-role="button" data-theme= "b">Ja</a>
        <a href="#" data-rel="back" data-role="button" data-theme="b">Nej</a>
        </div>

</div>
<script>
    function ShareCaseByEmail(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/ShareMail/" + id,
            data: { email: jQuery('#friend_email').val() }
        }).done(function (msg) {
            jQuery('#share_by_email').html("<p>Email sent</p>");
            jQuery('#friend_email').val("");
        });
    }
</script>
    }
    else
    {
    <h3>Ärendet är arkiverat</h3>   
    }

<script type='text/javascript'>
    var user_ids = [];
    var counter = 0;
    var id = null;
    $(document).ready(function () {
        //Get name from facebook
        $('#allComments .comment_author').each(function () {
            id = $(this).attr('class').split(' ')[1].split("_")[1];
            user_ids.push(id);

        });

        user_ids = $.unique(user_ids);

        $.each(user_ids, function (index, value) {
            $.getJSON('https://graph.facebook.com/' + value, function (data) {
                $('<strong>' + data.name + '</strong>').appendTo('.author_' + value);
            });
        });



    })
</script>