@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Detaljer";
    Layout = "~/Views/Shared/_LayoutNoPageDiv.cshtml";
}

@{ var user = (String)HttpContext.Current.Session["uid"]; }

@section scripts{

    @*@Scripts.Render("~/Scripts/facebookPublish.js")
    @Scripts.Render("~/Scripts/facebookConnect.js")*@

    @Scripts.Render("~/Scripts/facebookPublish.js")
    @Scripts.Render("~/Scripts/facebookConnect.js")
    @Scripts.Render("~/Scripts/DetailsView.js")

}

<div data-role="page" data-theme="b" data-add-back-btn="true">
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Tillbaka</a>
        <h1>@ViewBag.Title</h1>         
        @if (user == @Model.Owner.ToString() && !@Model.Archived)
        {
            <a href="#" data-transition="slide" data-direction="reverse" data-icon="delete" onclick="deleteCaseItem(@Model.ID)">Ta bort</a>
        }
    </div>
    @if(!@Model.Archived || user == @Model.Owner.ToString())
    {
    <div data-role="content">
        @if(@Model.Archived && user == @Model.Owner.ToString())
        {
        <h2>Ärendet är arkiverat, endast du kan se det.</h2>
        }
        <h2>@Model.Title</h2>

        @*Get creator name from facebook*@
        <p id="divName@(Model.ID)"></p>
        <script type='text/javascript'>
            $(document).ready(function () {
                $.getJSON('https://graph.facebook.com/' + @Model.Owner + "", function (data) {
                $('<strong>' + data.name + '</strong>').appendTo('#divName@(Model.ID)');
                })
            })
        </script>
         @*Ritar ut en bild beroende på caseMode*@
        @if (Model.caseMode == 1)
        {
            <label>Ärendet har: Gått igenom</label>
              <img src="~/Content/images/Approved_icon.png" width="45" height="45" id="Approved" />
        }
        else if (Model.caseMode == 2)
        {
            <label>Ärendet är: Avslaget</label>
             <img src="~/Content/images/Dismissed_icon.png" width="45" height="45" id="Dismissed" />
        }

        <p>
            @Model.Text
        </p>
        

        <div class="display-label">Deadline</div>
        <div class="display-field">@String.Format("{0:g}", Model.Deadline)</div>

        <div class="display-label">Mottagare</div>
        <div class="display-field">@Model.RecieverName < @Model.RecieverEmail ></div>

            

            @* @if (Model.imageName != null)
            {
                <div class="display-label">imageId</div>
                <div class="display-field">@Model.imageId</div>
                <img src="@Model.imageName" width ="75" height ="75">
                <div class="display-label">imageBytes</div>
                <div class="display-field">@Html.DisplayTextFor(_ => Model.imageBytes).ToString()</div>
                <div class="display-label">imageName</div>
                <div class="display-field">@Model.imageName</div>
            }*@

            @{ 
                if(Model.AttachedImage)
                {
                    <div class="caseitem-details-template-image">
                        <img src="~/CaseItems/Image/@Model.ID" />
                    </div>
                }
            }

    
       @if (Model.enableLikes == true)
       {
           if (ViewBag.likeStatus == "signed")
           {
               //Kanske skall vara en bild istället?
            <p>Du har gillat detta!</p>
           
           }
           else
           {
               if (!@Model.Archived)
               {
                    <a href="@Url.Action("LikeCase", "CaseItems", new { id = @Model.ID }, null)">
                        <img src="~/Content/images/thumbs_up.png" width="75" height="75" id="ShowCaseLike" />
                    </a>
               }
           }
            
             <p>Antal som gillar: @ViewBag.numberOfLikes</p>
       }
        @if (Model.enableComments == true && !Model.Archived)
        {
             <img src="~/Content/images/Comment.png" width="75" height="75" id="ShowCaseComment" />
        }

        @if (Model.enableSigns == true)
        {
            @*<a href="#popupShare" data-rel="popup">
                <img src="~/Content/images/Signing.png" width="60" height="60" id="ShowCaseSign" />
            </a>*@
            
            if (ViewBag.status == "signed")
            {
                //Kanske skall vara en bild istället?
            <p>Du har skrivit på namninsamlingen</p>
            }
            else
            {
               if (!@Model.Archived)
               {
                    <a href="#popupSignUp" data-rel="dialog"> 
                        <img src="~/Content/images/Signing.png" width="60" height="60" id="ShowCaseSign"/>
                    </a>
                }
            }
        }
        @if (!@Model.Archived)
        {
            <a href="#popupShare" data-rel="dialog" data-role="button" data-inline="true" data-position-to="window">Dela</a>
        }

        @* Visa respons från mottagare *@
        @{
            if (ViewBag.responded)
            {
                <form>
                    <fieldset>
                        <legend>Svar från mottagaren</legend>
                        <p>@ViewBag.response</p>
                    </fieldset>
               </form>
            }  
        }
        @* slut på visa respons *@
   
        @*start: Frida Mattisson 2012-11-16*@

        @* Visa de 5 senaste kommentarerna från början, vid klick kommer en möjlighet att kommentera och alla kommentarer visas*@
             
        @*Print 5 comments for the case*@
        <div id="fiveComments">
            <fieldset>
                <legend>Kommentarer</legend>
                @*Om kommentarerna är tomma*@
                @if (ViewBag.casecomments == null)
                {
                        <p id="nocomments">Det finns inga kommentarer på förslaget</p>
                }
                else
                {
                    foreach (var comment in ViewBag.casecomments)
                    {
                        <p>@comment.commentStr</p>
                    }
                }
            </fieldset>
        </div>
         @*Print all comments for the case där id är samma*@
        <div id="newComment">
            <input type="text" id="newCommentStr" />
            <button onclick="PostComment(@Model.ID);">Kommentera</button>
        </div>
        <div id="allComments">
            <fieldset>
                <legend id="titleComments">Kommentarer</legend>
                @if (ViewBag.casecomments == null)
                {
                        <p id="nocomments">Det finns inga kommentarer på förslaget</p>
                }
                else
                {
                    foreach (var comment in ViewBag.casecomments)
                    {
                        <p>@comment.commentStr</p>
                    }
                }
            </fieldset>
        </div>

       <!--Kommenteras bort tills att vi kan hämta data ur databasen
        
         @using (Html.BeginForm("CreateComment", "CaseItems", FormMethod.Post, new { @style = "display: none;", @id = "allComments" }))
         {
            @*<form style="display: none;" id="allComments">*@
            @Html.Hidden("caseID", Model.ID)
            @Html.TextBox("commentStr")

            @*<input aria-multiline="true" class="commentString"/>*@
            <input type="submit" value="Submit"/>
            <fieldset>
                <legend>Comments</legend>
                @if (Model.caseComment == null)
                {
                     <p>Det finns inga kommentarer på förslaget</p>
                }
                else
                {
                    foreach (var comment in Model.caseComment)
                    {
                        <p>comment.commentStr</p>
                    }
                }
            </fieldset>
         }-->
        @*end: Frida Mattisson 2012-11-16*@
 

        @if (ViewBag.voting != null && !@Model.Archived)
        {
            <h3>@ViewBag.voting.Title</h3>
            if (!ViewBag.UserHasVoted)
            {
                <div id="voting_container">
                    <fieldset data-role="controlgroup">
                        <div id="voting-alternatives">
                            <input type="radio" name="voting-choice" id="voting-choice-1" value="yes" checked="checked" />
                            <label for="voting-choice-1">Yes</label>
                            <input type="radio" name="voting-choice" id="voting-choice-2" value="no"  />
                            <label for="voting-choice-2">No</label>
                        </div>
                        </fieldset>
                    <button onclick="SendVote(@ViewBag.voting.VotingID);" id="btnVote">Rösta</button>
                </div>
            }
            else
            {
                <p>Du har redan röstat</p>
            }
        }

        @if (!Model.Published && Model.Owner == 1337)
        {
            <a href="~/CaseItems/Edit/@Model.ID" data-role="button">Redigera</a>
        }
    </div>
@*</div>*@
<style>
    #share_by_email
    {
        display: none;
    }
</style>
<div data-role ="dialog" id ="popupShare" data-overlay-theme="a" data-theme="a" class="ui-corner-all" data-position-to="window">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Stäng</a>
	<form>
		<div style="padding:10px 20px;" >
			<h3>Dela @Model.Title</h3>
            <a onclick="publishStory('@Model.Title', '@Model.Text', '@Request.Url.AbsoluteUri');" data-theme="" id="ventaOption"> <img src="/Content/images/share-facebook.png" width="64" height="64"></a>
            <a id="emailShare" onclick="jQuery('#share_by_email').slideDown();"> <img src="/Content/images/share-email.png" width="64" height="64"></a>
		</div>
        <div id="share_by_email">
            <input type="email" name="email" id="friend_email" value=" " placeholder="Email to friend"/>
            <a onclick="ShareCaseByEmail(@Model.ID);" data-role="button">Skicka länk</a>
        </div>
	</form>
</div>

<div data-role ="dialog" id ="popupSignUp" data-overlay-theme="a" data-theme="a" class="ui-corner-all" data-position-to="window">
      @*<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>*@
    		<div data-role="header" data-theme="d" data-position="inline">
    <h3>Skriv på namninsamling</h3></div>
    <div data-role="content" data-theme="c">
        <p>Vill du skriva på namninsamlingen för @Model.Title ? </p>
        <a href ="@Url.Action("SignUp", "CaseItems", new { caseitem = @Model.ID }, null) " data-role="button" data-theme= "b">Ja</a>
        <a href="#" data-rel="back" data-role="button" data-theme="b">Nej</a>
        </div>

</div>
<script>
    function ShareCaseByEmail(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/ShareMail/" + id,
            data: { email: jQuery('#friend_email').val() }
        }).done(function (msg) {
            jQuery('#share_by_email').html("<p>Email sent</p>");
            jQuery('#friend_email').val("");
        });
    }
</script>
}
else
{
    <h3>Ärendet är arkiverat</h3>   
}

