@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Redigera";
}

@section Header{
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Tillbaka</a>
        <h1>Redigera förslag</h1>
    </div>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Owner)
        @Html.HiddenFor(model => model.enableLikes)
        @Html.HiddenFor(model => model.enableComments)
        @Html.HiddenFor(model => model.enableSigns)
        @Html.HiddenFor(model => model.Published)
        @Html.HiddenFor(model => model.imageId)
        @Html.HiddenFor(model => model.imageBytes)
        @Html.HiddenFor(model => model.imageName)
        @Html.HiddenFor(model => model.numberOfLikes)
        @Html.HiddenFor(model => model.caseComment)
        @Html.HiddenFor(model => model.caseCategory)
        @Html.HiddenFor(model => model.ResponseID)
        @Html.HiddenFor(model => model.recieverResponse)

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.LastEdited)

        @Html.HiddenFor(model => model.RecieverName)
        @Html.HiddenFor(model => model.RecieverEmail)
        @Html.HiddenFor(model => model.CategoryID)

		@Html.Partial("_CreateOrEdit", Model)
        
        <div id="published_status">
            @if(Model.Published){
                <p>Publicerad, går ej att ändra</p>
            }
            else{
                <p>Ej publiceread</p>
                <a data-role="button" onclick="PublishCaseItem(@Model.ID);">Publicera</a>
                <p>
                    <input type="submit" value="Spara" />
                </p>
            }
        </div>
        
    </fieldset>
}
<script>
    function PublishCaseItem(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/Publish/" + id,
        }).done(function (msg) {
            jQuery('#published_status').html('<p>Publicerad, går ej att ändra</p>');
        });
    }

</script>
