@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Edit";
}

@section Header{
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Back</a>
        <h1>Edit Case</h1>
    </div>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.LastEdited)

        @Html.HiddenFor(model => model.RecieverName)
        @Html.HiddenFor(model => model.RecieverEmail)
        @Html.HiddenFor(model => model.CategoryID)

        @*Edit CaseMode*@
         
        <form runat="server">
           <div class="editor-label">Ärendets progress</div>
            <br>
            <RadioButton id="Progress" Text="Progress" Checked="True"
            GroupName="ModeOfCase" runat="server"/>
            <br>
            <RadioButton id="Accepted" Text="Godkänd"
            GroupName="ModeOfCase" runat="server"/>
            <br>
            <RadioButton id="Declined" Text="Avslagen"
            GroupName="ModeOfCase" runat="server"/>
            <br>
            <asp:Button text="Submit" OnClick="submit" runat="server"/>
            <p><asp:Label id="Label1" runat="server"/></p>
            </form>
        

        @*@{
            List<SelectListItem> items = new List<SelectListItem>();
            items.Add(new SelectListItem
            {
                Text = "Godkänd",
                Value = "1",
            });
            items.Add(new SelectListItem
            {
                Text = "Avslagen",
                Value = "2",                
            });
        }
        
        <div class="editor-field">
            <div class="dropdown">@Html.DropDownListFor(m => m.caseMode.caseModeInt, "Välj status", items)</div>
            @if (SelectListItem.Equals)
            {
                //Sparas i caseItem 
            }
            else if(SelectListItem == 2)
            {
                //Sparas i caseItem
            }

            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>*@

		@Html.Partial("_CreateOrEdit", Model)
        <div id="published_status">
            @if(Model.Published){
                <p>Publicerad, går ej att ändra</p>
            }
            else{
                <p>Ej publiceread</p>
                <a data-role="button" onclick="PublishCaseItem(@Model.ID);">Publicera</a>
                <p>
                    <input type="submit" value="Save" />
                </p>
            }
        </div>
        
    </fieldset>
}
<script>
    function PublishCaseItem(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/Publish/" + id,
        }).done(function (msg) {
            jQuery('#published_status').html('<p>Publicerad, går ej att ändra</p>');
        });
    }

</script>
