@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.LastEdited)

        @Html.HiddenFor(model => model.RecieverName)
        @Html.HiddenFor(model => model.RecieverEmail)
        @Html.HiddenFor(model => model.CategoryID)

    
        <table class="span12">
            <tr>
                <td class="span2">Titel</td>
                <td class="span7">@Html.TextBoxFor(model => model.Title, new { @class = "span5" })</td>
                <td class="span2"> @Html.ValidationMessageFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>Beskrivning</td>
                <td>@Html.TextAreaFor(model => model.Text, new { @class = "span5" })</td>
                <td> @Html.ValidationMessageFor(model => model.Text)</td>
            </tr>
            <tr>
                <td>Slutdatum</td>
                <td>@Html.TextBoxFor(model => model.Deadline, new { @class = "span5" })</td>
                <td>@Html.ValidationMessageFor(model => model.Deadline)</td>
            </tr>
        </table>
            if (Model.Published)
            {
                <p>Publicerad, går ej att ändra</p>
            }
            else
            {
                <p>Ej publiceread</p>
                <button onclick="PublishCaseItem(@Model.ID);" class="btn">Publicera</button>
                <button type="submit" class="btn btn-success">Spara</button>
            }
        
}
<script>
    function PublishCaseItem(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/Publish/" + id,
            }).done(function (msg) {
                jQuery('#published_status').html('<p>Publicerad, går ej att ändra</p>');
        });
    }

</script>
