@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Edit";
}

@section Header{
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Back</a>
        <h1>Edit Case</h1>
    </div>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Created)
        @Html.HiddenFor(model => model.LastEdited)

        @Html.HiddenFor(model => model.RecieverName)
        @Html.HiddenFor(model => model.RecieverEmail)

		@Html.Partial("_CreateOrEdit", Model)
        <div id="published_status">
            @if(Model.Published){
                <p>Publicerad, går ej att ändra</p>
            }
            else{
                <p>Ej publiceread</p>
                <a data-role="button" onclick="PublishCaseItem(@Model.ID);">Publicera</a>
                <p>
                    <input type="submit" value="Save" />
                </p>
            }
        </div>
        
    </fieldset>
}
<script>
    function PublishCaseItem(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/Publish/" + id,
            }).done(function (msg) {
                jQuery('#published_status').html('<p>Publicerad, går ej att ändra</p>');
        });
    }

</script>
