﻿@model PoliticImpact.Models.CaseItem


@{
    ViewBag.Title = "Redigera";
}

@section Header{
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Tillbaka</a>
        <h1>Redigera förslag</h1>
    </div>
}
@if (!@Model.Archived)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.LastEdited)

            @Html.HiddenFor(model => model.RecieverName)
            @Html.HiddenFor(model => model.RecieverEmail)
            @Html.HiddenFor(model => model.CategoryID)


            <!--
<div class="editor-label">
    @Html.LabelFor(model => model.Owner)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Owner)
    @Html.ValidationMessageFor(model => model.Owner)
</div>
-->

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Deadline)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Deadline)
                @Html.ValidationMessageFor(model => model.Deadline)
            </div>
            
            @*Dokumentet till ärendet, går endast att bifoga om det inte finns något dokument bifogat*@
            @if(Model.documentUrl == null)
            {
                <div class="editor-label"> Välj vilket dokument som ska bifogas:</div> 
                <div class="editor-field">
                    <input name="document" type="file" />
                </div>
            }
            <!--
<div class="editor-label">
    @Html.LabelFor(model => model.Published)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Published)
    @Html.ValidationMessageFor(model => model.Published)
</div>
-->

            <!--
<div class="editor-label">
    @Html.LabelFor(model => model.Created)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Created)
    @Html.ValidationMessageFor(model => model.Created)
</div>
-->

            <!--
<div class="editor-label">
    @Html.LabelFor(model => model.LastEdited)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastEdited)
    @Html.ValidationMessageFor(model => model.LastEdited)
</div>
-->

   @*         <!--
<div class="editor-label">
    @Html.LabelFor(model => model.imageId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.imageId)
    @Html.ValidationMessageFor(model => model.imageId)
</div>
-->

            <!--
<div class="editor-label">
    @Html.LabelFor(model => model.imageName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.imageName)
    @Html.ValidationMessageFor(model => model.imageName)*@
</div>
-->


            <div id="archived_status">
                @if (Model.Archived)
                {
                    <p>Arkiverad, går inte längre att interagera.</p>
                }
                else
                {
                    <p>Ej arkiverad</p>
                    <a data-role="button" onclick="ArchiveCaseItem(@Model.ID);">Arkivera</a>
                }
            </div>

            <div id="published_status">
                @if (Model.Published)
                {
                    <p>Publicerad, går ej att ändra</p>
                }
                else
                {
                    <p>Ej publiceread</p>
                    <a data-role="button" onclick="PublishCaseItem(@Model.ID);">Publicera</a>
                    <p>
                        <input type="submit" value="Spara" />
                    </p>
                }
            </div>



        </fieldset>
    }
}
else
{
    <h3>Förslaget är arkiverat och kan inte ändras</h3>
}
<script>
    function PublishCaseItem(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/Publish/" + id,
        }).done(function (msg) {
            jQuery('#published_status').html('<p>Publicerad, går ej att ändra</p>');
        });
    }

</script>

