﻿@model PoliticImpact.Models.CaseItem


@{
    ViewBag.Title = "Redigera";
}

@section Header{
    <div data-role="header">
        <a href="~/CaseItems/Index" data-transition="slide" data-direction="reverse" data-icon="back">Tillbaka</a>
        <h1>Redigera förslag</h1>
    </div>
}

@if (!@Model.Archived)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.LastEdited)

            @Html.HiddenFor(model => model.RecieverName)
            @Html.HiddenFor(model => model.RecieverEmail)
            @Html.HiddenFor(model => model.CategoryID)

            
            @Html.HiddenFor(model => model.Published);
            @Html.HiddenFor(model => model.numberOfLikes);
            @Html.HiddenFor(model => model.caseComment);
            @*Html.HiddenFor(model => model.caseMode);*@
            @Html.HiddenFor(model => model.enableLikes);
            @Html.HiddenFor(model => model.enableComments);
            @Html.HiddenFor(model => model.enableSigns);
            @*Html.HiddenFor(model => model.caseCategory);*@
            @Html.HiddenFor(model => model.ResponseID);
            @*Html.HiddenFor(model => model.recieverResponse);*@
            @Html.HiddenFor(model => model.ImageThumbnail);
            @Html.HiddenFor(model => model.Archived);
            @Html.HiddenFor(model => model.documentUrl);
            @Html.HiddenFor(model => model.documentMimeType);
            @Html.HiddenFor(model => model.documentName);
            

    <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Deadline)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Deadline)
                @Html.ValidationMessageFor(model => model.Deadline)
            </div>

            
             @*Edit CaseMode*@

            <div class="editor-label">
            @Html.LabelFor(model =>model.caseMode)
            </div>
            <div class="editor-field">
                <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                @*@Html.EditorFor(model =>model.Gender)*@
                @Html.RadioButtonFor(model =>model.caseMode,"0",new { id = "radio-choice-1" })
                <label for="radio-choice-1">Ärendet är under granskning</label>
                @Html.RadioButtonFor(model =>model.caseMode,"1",new { id = "radio-choice-2" })
                <label for="radio-choice-2">Ärendet är godkänt</label>
                @Html.RadioButtonFor(model => model.caseMode, "2", new { id = "radio-choice-3" })
                 <label for="radio-choice-3">Ärendet är avslaget</label>
                @Html.ValidationMessageFor(model =>model.caseMode)<br/>
                </fieldset> 
                </div>
            </div>


            
            <div id="archived_status">
                @if (Model.Archived)
                {
                    <p>Arkiverad, går inte längre att interagera.</p>
                }
                else
                {
                    <p>Ej arkiverad</p>
                    <a data-role="button" onclick="ArchiveCaseItem(@Model.ID);">Arkivera</a>
                }
            </div>

            <div id="published_status">
                @if (Model.Published)
                {
                    <p>Publicerad, går ej att ändra</p>
                }
                else
                {
                    <p>Ej publiceread</p>
                    <a data-role="button" onclick="PublishCaseItem(@Model.ID);">Publicera</a>
                    <p>
                        <input type="submit" value="Spara" />
                    </p>
                }
            </div>

        </fieldset>
    }

}
else
{
    <h3>Förslaget är arkiverat och kan inte ändras</h3>
}

<script>
    function PublishCaseItem(id) {
        jQuery.ajax({
            type: "POST",
            url: "/CaseItems/Publish/" + id,
        }).done(function (msg) {
            jQuery('#published_status').html('<p>Publicerad, går ej att ändra</p>');
        });
    }

</script>

