@model IEnumerable<PoliticImpact.Models.CaseItem>
@{
    ViewBag.Title = "Home";
}

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item startcarousel"><h2>Politiskt Inflytande är till för att låta Dig vara med och påverka vad som händer runtomkring dig!</h2></div>
    <div class="item startcarousel"><h2>Skapa egna förslag, rösta, kommentera och gilla andras</h2></div>
    <div class="item startcarousel"><h2>Populära förslag skickas sedan till politiker som kan besvara och åtgärda dem</h2></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
    <div class="span8" id="recent-cases">
        <h4>Senaste förslagen</h4>
        @foreach (var item in Model)
        {
            if (!item.Archived)
            {
            <div class="caseitem-list">
                <a href="/CaseItems/Details/@item.ID">
                    <div class="templateimage"></div>
                    <div class="caseitem-list-main">
                        <div class="caseitem-list-main-info">
                            <h3>@item.Title</h3>
                            <p>
                                @if (@item.Text.Length > 120)
                                {                                
                                    @item.Text.Substring(0, 120)
                                }
                                else
                                {
                                    @item.Text
                                }

                            </p>
                        </div>

                        <div class="caseitem-additional-info">
                            <div class="caseitem-additional-info-box">
                                <p>@item.numberOfLikes
                                    <img src="~/Content/images/thumbs_up_metro.png" alt="Likes" /></p>
                            </div>
                            <div class="caseitem-additional-info-box">
                                <p>@item.numberOfSigns
                                    <img src="~/Content/images/signups.png" alt="Signups" /></p>
                            </div>
                            <div class="caseitem-additional-info-box">
                                <p>@item.numberOfComments
                                    <img src="~/Content/images/speech_bubble.png" alt="Comments" /></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            }
        }
    </div>
    <div class="span3">
        <h4>Senaste åtgärder</h4>
         @foreach (var item in Model)
        {
            <div class="caseresult">
                <a href="#">
                    <div>
                        <h3>Testresultat</h3>
                        <p>Testbeskrivning resultat</p>
                    </div>
                </a>
           </div>
        }
    </div>

</div>