@model IEnumerable<PoliticImpact.Models.CaseItem>
@using Resources;
@{
    //Layout = "../Shared/_Layout.cshtml";
    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
        Session["language"] = Request["lang"];
    }
    else if (Session["language"] != null)
    {
        Culture = UICulture = Session["language"].ToString();
    }
}

@{
    ViewBag.Title = Res.Home;
}

@section header{
    <!-- top menu, to be implemented on other pages -->
    
    <h2>@Res.Home</h2>
    <!-- navigation -->
    <div data-role="navbar" data-iconpos="top">
	    <ul>
		    <li>@Html.ActionLink(Res.Home, "Index", new { Controller = "Home"}, new { data_icon = "home", @class = "ui-btn-active ui-state-persist" })</li>
            <li>@Html.ActionLink(Res.Case, "Index", new { Controller = "CaseItems" }, new { data_icon = "grid" })</li>
            <li>@Html.ActionLink(Res.LogIn, "Index", new { Controller = "Account" }, new { data_icon = "gear" })</li>

	    </ul>
    </div>
}



<img src="~/Content/images/medborgarforslag.jpg" class="center"/>

<h3>@Res.LatestCases</h3>
<div data-role="collapsible-set" data-theme="b" data-content-theme="d">
    @foreach (var item in Model.Reverse().Take(5))
    {
        if (!item.Archived)
        {
        <div data-role="collapsible">
            <h2>@item.Title</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="d">
                <!--<li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2 views</span></li>-->
                <li><a href="/CaseItems/Details/@item.ID" rel="external">


                    <p>@item.Text</p>
                    <!-- <p class="ui-li-aside"><strong>5</strong> Likes</p>-->
                </a></li>
            </ul>
        </div>
            //Get name from facebook
        <script type='text/javascript'>
            $(document).ready(function () {
                $.getJSON('https://graph.facebook.com/' + @item.Owner + "", function (data) {
                    $('<p>' + data.name + '<p>').appendTo('#divName@(item.ID)');
                })
            })
        </script>
        }
    }
</div>

