@model IEnumerable<PoliticImpact.Models.CaseItem>

@{
    ViewBag.Title = "Home Page";
}
@section header{
    <!-- top menu, to be implemented on other pages -->
    <div data-role="header" data-id="top-menu" data-position="fixed">
        <h2>Home Page</h2>
         <!-- navigation -->
    <div data-role="navbar" data-iconpos="top">
	<ul>
		<li>@Html.ActionLink("Home", "Index", new { Controller = "Home"}, new { data_icon = "home", @class = "ui-btn-active ui-state-persist" })</li>
        <li>@Html.ActionLink("Browse cases", "Index", new { Controller = "CaseItems" }, new { data_icon = "search" })</li>
        <li>@Html.ActionLink("Sign up", "Create", new { Controller = "CaseSignUps" }, new { data_icon = "gear" })</li>
	</ul>
    </div>
    <!-- /navigation -->
    </div>
}
@section head{


<!-- script to toggle visibility of cases -->
<script>
    function toggleVisibility(id){
        var section = document.getElementById(id);
        if (section.style.display != 'none') {
            section.style.display = 'none';
        }
        else {
            section.style.display = 'block';
        }
    }
</script>
} 




<!--list expandable cases -->
<ul data-role="listview">
    <li data-role="list-divider">Recent cases</li>

    <!-- limited to 5 and reversed to get most recent cases -->
    @foreach (var item in Model.Reverse().Take(5)){
        <li><a href="javascript:toggleVisibility('case_@item.ID')">@item.Title</a></li>
        <li id="case_@item.ID"><div><a href="/CaseItems/Details/@item.ID">@item.Text</a></div></li>
        
        <script>
            toggleVisibility('case_@item.ID');
        </script>
    }
</ul>
