@using Resources;
@{
    Layout = "../Shared/_Layout.cshtml";
    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
        Session["language"] = Request["lang"];
    }
    else if (Session["language"] != null)
    {
        Culture = UICulture = Session["language"].ToString();
    }
}
@model IEnumerable<PoliticImpact.Models.CaseItem>
@{
    ViewBag.Title = Res.Home;
}

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item startcarousel"><h2>@Res.StartCarousel</h2></div>
    <div class="item startcarousel"><h2>@Res.SecondCarousel</h2></div>
    <div class="item startcarousel"><h2>@Res.ThirdCarousel</h2></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
    <div class="span8" id="recent-cases">
        <h4>@Res.LatestCases</h4>
        @foreach (var item in Model)
        {
            if (!item.Archived)
            {
            <div class="caseitem-list">
                <a href="/CaseItems/Details/@item.ID">
                    <div class="templateimage">
                        @if(item.ImageThumbnail != null)
                        {
                            <img src="@Url.Content(item.ImageThumbnail)" />
                        }
                    </div>
                    <div class="caseitem-list-main">
                        <div class="caseitem-list-main-info">
                            <h3>@item.Title</h3>
                            <p>
                                @if (@item.Text.Length > 120)
                                {                                
                                    @item.Text.Substring(0, 120)
                                }
                                else
                                {
                                    @item.Text
                                }

                            </p>
                        </div>

                        <div class="caseitem-additional-info">
                            <div class="caseitem-additional-info-box">
                                <p>@item.numberOfLikes
                                    <img src="~/Content/images/thumbs_up_metro.png" alt="Likes" /></p>
                            </div>
                            <div class="caseitem-additional-info-box">
                                <p>@item.numberOfSigns
                                    <img src="~/Content/images/signups.png" alt="Signups" /></p>
                            </div>
                            <div class="caseitem-additional-info-box">
                                <p>@item.numberOfComments
                                    <img src="~/Content/images/speech_bubble.png" alt="Comments" /></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            }
        }
    </div>
    <div class="span3">
        <h4>@Res.LatestAction</h4>
         @foreach (var item in Model)
        {
            if (item.caseMode == 1)
            {                                
                <div class="caseresult">
                    <a href="/CaseItems/Details/@item.ID">
                        <div>
                            <h3>@item.Title</h3>
                            <img src="~/Content/images/Approved_icon.png" width="45" height="45" id="Approved" />
                        </div>
                    </a>
               </div>
            }
            else if (item.caseMode == 2)
            {
                <div class="caseresult">
                    <a href="/CaseItems/Details/@item.ID">
                        <div>
                            <h3>@item.Title</h3>
                            <img src="~/Content/images/Dismissed_icon.png" width="45" height="45" id="Dismissed" />
                        </div>
                    </a>
               </div>
            }
             

        }
    </div>

</div>