@model PoliticImpact.Models.CaseLike

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CaseLike</legend>

    <div class="display-label">caseID</div>
    <div class="display-field">@Model.caseID</div>

    <div class="display-label">CaseItem</div>
    <div class="display-field">@(Model.CaseItem == null ? "None" : Model.CaseItem.Title)</div>

    <div class="display-label">userID</div>
    <div class="display-field">@Model.userID</div>

    <div class="display-label">created</div>
    <div class="display-field">@String.Format("{0:g}", Model.created)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.likeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


