@model IEnumerable<PoliticImpact.Models.CaseLike>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            caseID
        </th>
        <th>
            CaseItem
        </th>
        <th>
            userID
        </th>
        <th>
            created
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.likeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.likeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.likeID })
        </td>
        <td>
			@item.caseID
        </td>
        <td>
			@(item.CaseItem == null ? "None" : item.CaseItem.Title)
        </td>
        <td>
			@item.userID
        </td>
        <td>
			@String.Format("{0:g}", item.created)
        </td>
    </tr>
}

</table>


