@model IEnumerable<PoliticImpact.Models.CaseVoting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            CaseID
        </th>
        <th>
            Title
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            Created
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VotingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VotingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VotingID })
        </td>
        <td>
			@item.CaseID
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@String.Format("{0:g}", item.StartDate)
        </td>
        <td>
			@String.Format("{0:g}", item.EndDate)
        </td>
        <td>
			@String.Format("{0:g}", item.Created)
        </td>
    </tr>
}

</table>


