@model PoliticImpact.Models.RecieverResponse

@{
    ViewBag.Title = "Respond";

    <div class="row">

    @if(ViewBag.caseFound)
    { 
        <h2>@ViewBag.caseTitle</h2>
        <p>@ViewBag.caseText</p>

        using (Html.BeginForm()) {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Svara på förslag</legend>

                @Html.HiddenFor(model => model.ResponseID)
		        
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.ResponseText, new { style="width: 500px; height:100px", placeholder = "Skriv ditt svar här" })
                </div>

                @Html.HiddenFor(model => model.ResponseCode)

                <p>
                    <input type="submit" value="Skicka svar" />
                </p>
            </fieldset>
        }
    }
    else
    {
        <h2>There is no case awaiting response.</h2>
    }
    </div>
}

<!--<div>
    @Html.ActionLink("Back to List", "Index")
</div>-->
