@model IEnumerable<PoliticImpact.Models.RecieverResponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ResponseText
        </th>
        <th>
            ResponseCode
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResponseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResponseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResponseID })
        </td>
        <td>
			@item.ResponseText
        </td>
        <td>
			@item.ResponseCode
        </td>
    </tr>
}

</table>


