@using Resources;
<!DOCTYPE html>

@{ var user = (String) HttpContext.Current.Session["uid"]; }

@{
    
        ViewBag.Title = Res.Home;
    
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}
@{
    Layout = "../Shared/_Layout.cshtml";
    if (!Request["lang"].IsEmpty())
    {
        Culture = UICulture = Request["lang"];
        Session["language"] = Request["lang"];
    }
    else if (Session["language"] != null)
    {
        Culture = UICulture = Session["language"].ToString();
    }
}

@section Header {
    <div data-role="header">
    
       
        <!-- navigation -->
        <div data-role="navbar" data-iconpos="top">
	        <ul>
		        <li><a href="/Home/Index" data-icon="home">@Res.Home</a></li>
                <li>@Html.ActionLink(Res.Case, "Index", new { Controller = "CaseItems" }, new { data_icon = "grid"})</li>
                <li>@Html.ActionLink(Res.Settings, "Index", new { Controller = "Account" }, new { data_icon = "gear"})</li>
	        </ul>
        </div>
        <!-- /navigation -->
    </div>
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h2>@ViewBag.Title</h2>
    <script src="@Url.Content("~/Scripts/Facebook.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            InitialiseFacebook("432491363480247");
        });
    </script>
    <fb:login-button autologoutlink="true" show-faces="true">@ViewBag.Title</fb:login-button>
    <div>
        <form method="post">
            @Res.SelectLanguage
            <select id="lang">
                <option value="en-GB" @(Culture == "en-GB" ? "selected=\"selected\"" : "")>@Res.English</option>
                <option value="sv-SE" @(Culture == "sv-SE" ? "selected=\"selected\"" : "")>@Res.Swedish</option>
                <option value="fr-FR" @(Culture == "fr-FR" ? "selected=\"selected\"" : "")>@Res.French</option>
            </select>
            <input type="submit" value="@Res.Submit" />
        </form>
    </div>
</body>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
</html>