    @model PoliticImpact.Models.CaseImage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CaseImage</legend>

    <div class="display-label">CaseID</div>
    <div class="display-field">@Model.CaseID</div>

    <div class="display-label">CaseItem</div>
    <div class="display-field">@(Model.CaseItem == null ? "None" : Model.CaseItem.Title)</div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">@Model.ImageUrl</div>

    <div class="display-label">thumbnailUrl</div>
    <div class="display-field">@Model.thumbnailUrl</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


