@model PoliticImpact.Models.CaseImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CaseImage</legend>

    <div class="display-label">CaseID</div>
    <div class="display-field">@Model.CaseID</div>

    <div class="display-label">CaseItem</div>
    <div class="display-field">@(Model.CaseItem == null ? "None" : Model.CaseItem.Title)</div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">@Model.ImageUrl</div>

    <div class="display-label">thumbnailUrl</div>
    <div class="display-field">@Model.thumbnailUrl</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


